<div class="sidebar">
  <div class="logo-bar"><a href="#"><img src="/assets/logo/logo_company_n.png"></a></div>
  <div class="nav-bar">
    <ul>
      <li><i class="fa fa-book" aria-hidden="true"></i><a href="#">База знаний</a></li>
      <li><i class="fa fa-calendar-check-o" aria-hidden="true"></i><a href="#">Заявки</a></li>
      <li><i class="fa fa-users" aria-hidden="true"></i><a href="#">Сотрудники</a></li>
      <li><i class="fa fa-cubes" aria-hidden="true"></i><a href="#">Клиенты</a></li>
      <li><i class="fa fa-bar-chart" aria-hidden="true"></i><a href="#">Активы</a></li>
      <li><i class="fa fa-cog" aria-hidden="true"></i><a href="#">Настройки</a></li>
    </ul>
  </div>
</div>
